* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Thasadith', sans-serif;
  font-weight: bold;

}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url(img/bg.jpg);
  background-size: cover;
  color: #ffffff;
  font-size: 22px;
}

main {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000ad;
}

.resume {
  display: flex;
  padding: 10px 0;
  gap: 40px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.resume>div {
  display: flex;
  flex-direction: column;
  border: solid 0.5px gray;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  background-color: #00000085;
}

.newItem {
  display: flex;
  gap: 10px;
  align-items: end;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

}

.divDesc,
.divType,
.divAmount {
  display: flex;
  flex-direction: column;


}

.newItem>button {
  background-color: #2C73D2;
  color: white;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  height: 34px;

}

input,
select {
  padding: 5px;
  border: solid 0.5px gray;
  background-color: #ececf4;

}

.divTable {
  width: 100%;
  display: flex;
  justify-content: center;
}

table {
  width: 98%;
  padding: 20px 0;
  border-radius: 5px;
}

th {
  text-align: start;
  border-bottom: inset;
  padding-bottom: 5px;
}

i {
  font-size: 25px;
}

.bxs-chevron-up-circle {
  color: #27a30e;
}

.bxs-chevron-down-circle {
  color: #d30a0a;
}

.columnAction {
  width: 40px;
  text-align: center;
}

.columnAction>button {
  background: transparent;
  border: none;
  color: #e4dedeed;
}

.columnAmount {
  width: 30%;
}

.columnType {
  width: 80px;
  text-align: center;
}

.incomes {
  color: #27a30e;
}

.expenses {
  color: #d30a0a;
}

a {
  text-decoration: none;
  color: aliceblue;

}

input,
select {
  background-color: #3d3c3c;
  color: aliceblue;
}

th {
  background-color: #000000b0;
}

#footer{
font-size: 16px;
position:fixed;
bottom: 35px;
width: 400px;
text-align: center;
}
.github{
font-size: 16px;
position:fixed;
bottom: 7px;
text-align: center;
display: flex;

}

img{
  background-color: #ffffff;
  border-radius: 55%;
  margin-right: 7px;
}